<footer>
    <div class="container text-center p-5">
        <div class="row">
            <div class="col-md-4">
                <h2> LOCATION</h2>
                <P>2215 John Daniel Drive</P>
                <P>Clark, MO 65243</P>
    
            </div>
            <div class="col-md-4">
                <h2 class="mb-3"> AROUND THE WEB</h2>
                <i class="fa-brands fa-facebook px-3 fa-xl" style="color: #ffffff;"></i>
                <i class="fa-brands fa-twitter px-3 fa-xl" style="color:#ffffff ;"></i>
                <i class="fa-brands fa-linkedin px-3 fa-xl" style="color: #ffffff;"></i>
                <i class="fa-solid fa-globe px-3 fa-xl" style="color: #ffffff;"></i>
                
    
            </div>
                <div class="col-md-4">
                    <h2> ABOUT FREELANCER</h2>
                    <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
    
                </div>
        </div>
    </div>
</footer>
<div id="Copy" class="text-center p-5 ">
    Copyright&copy;Your Website 2021
</div>