<body>
    <div class="container text-center mb-5 p-3">
        <h1>PORTFOLIO COMPONENT</h1>
        <i class="fa-solid fa-star" ></i> 
    
        <div class="row">
            <div class="col-md-4 gy-3">
                <img src="../../assets/img/poert1.png"class="rounded " alt="">
                
            </div>
            <div class="col-md-4 gy-3">
                <img src="../../assets/img/port2.png" class="rounded "alt="">
            </div>
            <div class="col-md-4 gy-3">
                <img src="../../assets/img/port3.png" class="rounded "alt="">
            </div>
            <div class="col-md-4 gy-3">
                <img src="../../assets/img/port2.png" class="rounded "alt="">
            </div>
            <div class="col-md-4 gy-3">
                <img src="../../assets/img/port3.png" class="rounded "alt="">
            </div>
            <div class="col-md-4 gy-3">
                <img src="../../assets/img/poert1.png"class="rounded " alt="">
            </div>
        </div>
    
    </div>
</body>