<body>
    <div class="container text-center ">

        <div class="text-center">
            <h1 class="mt-4">CONATCT SECTION</h1>

            <label for="userName" class="position-relative top-0 __top input">userName : </label>
            <input id="userName" type="text" placeholder="userName" name="userName"
                class="form-control border-0 border-bottom py-3 position-relative ng-valid ng-dirty ng-touched">

            <label for="userage" class="position-relative top-0 __top">userage : </label>
            <input id="userage" type="text" placeholder="userage" name="userage"
                class="form-control border-0 border-bottom py-3 position-relative ng-valid ng-dirty ng-touched">

            <label for="userEmail" class="position-relative top-0 __top">userEmail : </label>
            <input id="userEmail" type="text" placeholder="userEmail" name="userEmail"
                class="form-control border-0 border-bottom py-3 position-relative ng-valid ng-dirty ng-touched">

            <label for="userpasowerd" class="position-relative top-0 __top ">userpasowerd : </label>
            <input id="userpasowerd" type="text" placeholder="userpasowerd" name="userpasowerd"
                class="form-control border-0 border-bottom py-3 position-relative ng-valid ng-dirty ng-touched">


        </div>
    </div>
</body>